
        h5 {
            color: brown;
        }
        div {
            background-color: coral;
        }
        .header {
            background-color: cornflowerblue;
            color: bisque;
        }
        .about {
            background-color: darkkhaki;
        }
        .white {
            color: aliceblue;
        }
        #cats-types {
            font-size: 30px;
        }
  