body {
    overflow: hidden;
    background-color: antiquewhite;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;   
}

h4 {
    text-align: center;
}

.input {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(219, 97, 97);
    border-radius: 5%;
    
}

#check {
    background-color: aqua;
    font-size: 20px;
    
}

#error {
    color: red;
    display: none;
    border: 1px solid red;
    background-color: aqua;
    padding: 10px;
    font-size: 20px;
    
}